body{
    background: url("background.jpg") no-repeat center fixed;
    background-size: cover;
}
.heading{
    font-size: 23px;
    font-weight: bold;
    width: 100%;
    margin: 0px;
}
.note{
    font-size:18px;
    color:black;
    font-style:italic;
}
.song_name{
    font-size: 30px;
    margin-top: 24px;
    border-radius: 25px;
}
canvas{
    border:5px solid white;
    border-radius: 20px;
}